language: python
python:
    - "2.7"
before_install:
    - sudo apt-get install libmysqlclient-dev python-dev libtool libcurl4-openssl-dev
    - git clone https://github.com/kd0kfo/boinc.git $HOME/boinc
    - sh ./build_boinc.sh $HOME/boinc
install: pwd
script:
    - export PYTHON_CONFIG=$(which python-config)
    - ./setup
    - ./configure --with-boinc=$HOME/boinc/INSTALLDIR
    - make
    - sudo make install
    - cd test
    - make test
    - cd ..
    - cd python
    - python setup.py build
    - sudo python setup.py install
