<?xml version="1.0"?>
<!DOCTYPE refentry PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd">
<refentry id="validate_mmpbsa">

  <refentryinfo>
    %author
  </refentryinfo>

  <refmeta>
    <refentrytitle>
      validate_mmpbsa
    </refentrytitle>
    <manvolnum>1</manvolnum>
    <refmiscinfo class="software">GRID TOOLS</refmiscinfo>
  </refmeta>

  <refnamediv>
    <refname>validate_mmpbsa</refname>
    <refpurpose>&hellip;</refpurpose>
  </refnamediv>

  <refsynopsisdiv>
    <cmdsynopsis>
      %command
      <arg choice="opt">
	<option>options</option>
      </arg>
      <arg>
	<option>input files</option>
      </arg>
    </cmdsynopsis>
  </refsynopsisdiv>

  <refsect1>
    <title>Options</title>
    <para><option>-v, --verbose</option></para>
    <para>Sets the verbosity of the program. Optionally, an number may be provided to vary the level of verbosity. The higher the number the more verbose. This mainly pertains to error reporting.</para>
    <para><option>-h, --help</option></para>
    <para>This help dialog</para>
    <para><option>--usage</option></para>
    <para>Same as --help</para>
  </refsect1>

  <refsect1>
    <title>Description</title>
    <para> %command &hellip;</para>
  </refsect1>

  <refsect1>
    <title>Notes</title>
    <para>A verbosity of more than 2 will output the tolerance data (XML)</para>
  </refsect1>

</refentry>
